POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=webhook_manager
POSTGRES_USER=webhook_manager
POSTGRES_PASSWORD=webhook_manager

REDIS_URL=redis://redis:6379/0

SENTRY_DSN=

JWT_SECRET=change-me
JWT_ALGORITHM=HS256

